@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 241 53% 99%;
    --foreground: 241 0% 0%;
    --muted: 241 0% 89.23%;
    --muted-foreground: 241 0% 0%;
    --popover: 241 0% 100%;
    --popover-foreground: 241 65% 0%;
    --card: 241 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 241 12% 94%;
    --input: 241 12% 94%;
    /* Reset primary and secondary values */
    --primary: 224.28 75.32% 56.36% !important;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.12 93.9% 67.84% !important;
    --secondary-foreground: 0 0% 0%;
    --accent: 212.83 0% 93.85%;
    --accent-foreground: 241 0% 0%;
    --destructive: 0 67.58% 59.66%;
    --destructive-foreground: 18 0% 100%;
    --ring: 224 75% 56%;
    --chart-1: 225.93 70.73% 40.2%;
    --chart-2: 335.06 77.57% 41.96%;
    --chart-3: 198.44 93.2% 59.61%;
    --chart-4: 175.34 77.44% 26.08%;
    --chart-5: 263.39 69.96% 50.39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 244.53 0% 6.15%;
    --foreground: 241 0% 100%;
    --muted: 241 4.35% 16.22%;
    --muted-foreground: 241 0% 100%;
    --popover: 241 0.88% 7.62%;
    --popover-foreground: 241 0% 100%;
    --card: 206.04 1.33% 6.83%;
    --card-foreground: 241 0% 100%;
    --border: 241 12% 15%;
    --input: 241 12% 15%;
    /* Reset dark mode primary and secondary values */
    --primary: 224 75% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.12 93.9% 67.84%;
    --secondary-foreground: 242.26 0.66% 12.23%;
    --accent: 241 2.01% 8.29%;
    --accent-foreground: 241 0% 100%;
    --destructive: 0 60.23% 65.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 241 76% 41%;
    --chart-1: 221.89 88.67% 52.49%;
    --chart-2: 167.55 100% 35.77%;
    --chart-3: 296.6 100% 25.38%;
    --chart-4: 56.6 0% 66.15%;
    --chart-5: 83.77 59.44% 12.06%;
  }
}
/* :root {
  --background: #fafafa;
  --foreground: #000000;
  --muted: #e4e4e4;
  --muted-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --border: #f0f0f0;
  --input: #f0f0f0;
  --primary: #4361ee !important;
  --primary-foreground: #ffffff;
  --secondary: #60a5fa !important;
  --secondary-foreground: #000000;
  --accent: #efefef;
  --accent-foreground: #000000;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --ring: #4361ee;
  --chart-1: #1e3a8a;
  --chart-2: #dc2626;
  --chart-3: #0ea5e9;
  --chart-4: #15803d;
  --chart-5: #6d28d9;
  --radius: 0.5rem;
}

.dark {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --muted: #292929;
  --muted-foreground: #ffffff;
  --popover: #131313;
  --popover-foreground: #ffffff;
  --card: #111111;
  --card-foreground: #ffffff;
  --border: #262626;
  --input: #262626;
  --primary: #4361ee;
  --primary-foreground: #ffffff;
  --secondary: #60a5fa;
  --secondary-foreground: #1f1f1f;
  --accent: #151515;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --ring: #3b82f6;
  --chart-1: #3b82f6;
  --chart-2: #059669;
  --chart-3: #7c3aed;
  --chart-4: #a8a8a8;
  --chart-5: #1f1f1f;
} */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}
