[**nextjs-template**](README.md)

---

[nextjs-template](README.md) / [src/server/db/schemas/auth](src.server.db.schemas.auth.md) / verification

# Variable: verification

```ts
const verification: PgTableWithColumns<{}>;
```

Defined in: [src/server/db/schemas/auth.ts:51](https://github.com/mariolim96/Easy-Check-In/blob/e840a4393cceae48bed5204292fc61d73f9f5dbb/src/server/db/schemas/auth.ts#L51)
